body
{
	background-color: #2F2E2E;
	margin: 0;
	padding: 0;
}


.logotab
{
	margin: auto;
}
.divlogotab
{
	background-color: white;
}
.navigbar:hover
{
	background-color: #333333;
	color: white;
}
.navidrop:hover
{
	background-color: #333333;
	color: white;
}
.attivo
{
	background-color: #000000;
	color: rgb(255, 255, 255);
	max-height: 90px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 0;
	padding-right: 0;
}
.nomargin
{
	margin: 0px;
}
.nopadding
{
	padding: 0px;
}
.navimg
{
	padding-top: 15px;
	background-color: #FAFAFA;
}

.navlent
{
	padding-left: 0px;
	padding-right: 0px;
}

.scrittaSocial
{
	color: rgb(212, 212, 212);
	font-size: 1.6vw;
}
.icona
{
	height: 50px;
	width: 50px;
	padding: 5px;
}
.scritta
{
	color: rgb(212, 212, 212);
}
.centrato
{
	text-align:center;
}