.carosello
{
	padding: 20px 20px 20px 20px;
	background-color: #2F2E2E;
}
.navlent
{
	padding-left: 0px;
	padding-right: 0px;
}
.if
{ 
	width: 100%;
	display: block;
}
.center
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 18px;
}
.testosuimm
{
	font-family: Arial, Helvetica, sans-serif;
	background-color: black;
	opacity: 0.7;
	padding: 10px 10px 10px 10px;
}
.testosuimmp
{
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-size: 25px;
	opacity: 1.0;
}
.listaocchiali
{
	text-align: center;
}
.listabrand
{
	text-align: center;
}
.sconti
{
	background-color: rgb(100,100,100);
}
.hsconti
{
	text-align:center;
}
*
{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin: 0;
}
.pspacer
{
	height: 15px;
	background-color:#2F2E2E;
}
.sidediv
{
	padding: 10px 10px 10px 20px;
}

.zeissl
{
	width: 90%;
	display: block;
}


.logotab
{
	margin: auto;
}
.divlogotab
{
	background-color: white;
}

.testodiv
{
	text-align: center;
	color: #FAFAFA;
	margin-top: 20px;
}
.profili
{
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 20px;
	background-color: rgb(212, 212, 212);
}
.scrittaSocial
{
	color: rgb(212, 212, 212);
	font-size: 1.6vw;
}
.icona
{
	height: 50px;
	width: 50px;
	padding: 5px;
}